.call2action {
  display: flex;
  gap: $gap;
  height: 100%;
  padding: $gap-large;
  border-radius: $border-radius;
  background: var(--accent-1);
  text-decoration: none;

  .call2action-content {
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: $gap-small;

    > * {
      margin: 0;
    }
  }

  .call2action-icon {
    align-self: center;
    color: var(--accent-3);
    font-size: 2.2em;
  }

  &:active,
  &:hover {
    background: var(--accent-2);
  }
}
