@import "../mixins";
@import "../variables";

.navbar-container {
  z-index: 8;
}

.navbar {
  height: 64px;
  background: var(--bg-color);
  z-index: 10;

  .navbar-actions {
    display: flex;
    align-items: center;
    gap: 2px;

    .action {
      display: flex;
      align-items: center;
      padding: $gap-small $gap;
      border-radius: $border-radius;
      text-decoration: none;

      &:hover, &:active {
        background-color: var(--accent-1);
      }

      &.active {
        background-color: var(--accent-2);
      }
    }
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    height: 64px;
    padding: 0 $gap;
    color: var(--navbar-text-color);
    font-size: 21px;
    text-decoration: none;

    img {
      max-height: 48px;
      margin-right: 8px;
    }
  }

  .navbar-content {
    display: flex;
    justify-content: space-between;
    max-width: calc($container-max-width + ($gap * 2));
    width: calc($container-width + ($gap * 2));
    margin: 0 auto;
  }
}

.navbar-controls {
  user-select: none;
  z-index: 9;

  label p {
    margin: 0;
  }

  .control-group {
    margin: 0;
  }
}

.navbar-menu-toggle {
  display: none;
}

@include breakpoint-large-down {
  .navbar-container.open,
  .navbar-menu-toggle:checked + .navbar-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .navbar-container.open + .navbar-spacer,
  .navbar-menu-toggle:checked ~ .navbar-spacer {
    height: 64px;
  }

  .navbar-menu-toggle:checked ~ .navbar-container label[for="menuToggle"] {
    background-color: var(--accent-2);
  }

  .navbar {
    .navbar-actions {
      .action-collapse-hide {
        display: none;
      }
    }
  }

  .navbar-controls {
    border-top: 1px solid var(--accent-2);
    border-bottom: 1px solid var(--accent-2);
    background: var(--bg-color);
    box-shadow: 0 6px 6px 0 var(--shadow-color);

    .controls {
      max-width: $container-max-width;
      width: $container-width;
      margin: 0 auto;
    }
  }

  .navbar-menu {
    background: var(--bg-color);
    box-shadow: 0 6px 6px 0 var(--shadow-color);
    z-index: 9;
  }

  .navbar-menu-toggle:checked + .navbar-container .navbar-menu {
    display: block !important;
  }
}

@include breakpoint-large-up {
  .navbar {
    .navbar-actions {
      .action-collapse-show {
        display: none;
      }
    }
  }

  .navbar-controls {
    position: absolute;
    left: 0;
    right: 0;

    .navbar-controls-content {
      display: flex;
      justify-content: flex-end;
      max-width: $container-max-width;
      width: $container-width;
      margin: 0 auto;
    }

    .controls {
      width: 400px;
      margin-right: -$gap;
      padding: $gap;
      border: 1px solid var(--accent-2);
      border-radius: $border-radius;
      background: var(--bg-color);
      box-shadow: 0 0 4px 4px var(--shadow-color);
    }
  }

  .navbar-menu {
    display: none !important;
  }
}


.control-group {
  .control {
    display: flex;
    justify-content: space-between;
    gap: $gap;
    padding: $gap 0;

    .btn {
      width: 100%;
    }

    .control-label {
      display: flex;
      flex-direction: column;

      strong {
        font-size: 18px;
      }

      p {
        margin: 0;
      }
    }

    .control-input {
    }
  }
}

.control-group + .control-group {
  border-top: 1px solid var(--accent-2);
}
