@import "../mixins";
@import "../variables";

.notice {
  padding: $gap-small;
  border: 1px solid var(--accent-2);
  border-radius: $border-radius;

  .notice-buttons {
    display: flex;
    gap: $gap;

    .btn {
      flex-grow: 1;
      white-space: nowrap;
    }

    .notice-close.btn {
      flex-grow: 0;
    }
  }

  @include breakpoint-medium-down {
    .notice-text {
      margin-bottom: $gap;
    }
  }

  @include breakpoint-medium-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $gap;
  }
}

.notice-accent {
  background: var(--accent-1);
}
