{% extends 'layout.html.twig' %}

{% set page_title = 'Chapter guidelines' %}

{% block content %}
  <div class="container">
    <h2 class="my-3">Chapter guidelines</h2>

    <p>
      This is a list of guidelines to keep in mind when creating chapter marks. These guidelines are not final
      and are subject to change.
    </p>

    <ul>
      <li>
        For small conversations it's enough to simply describe the topic the hosts are talking about:
        <ul class="my-1">
          <li><em>2020 Presidential Elections</em></li>
          <li><em>Las Vegas Shooting</em></li>
          <li><em>North Korea</em></li>
        </ul>
      </li>
      <li>
        When a host deconstructs a particular piece of media, describe the piece of media and its source:
        <ul class="my-1">
          <li><em>New York Times: A Sensational Headline</em></li>
          <li><em>Tucker Carlson Tonight: Leftist Students Do Something Crazy</em></li>
        </ul>
      </li>
      <li>
        Sometimes it's more appropriate to describe what somebody says in the piece of media by attributing a quote:
        <ul class="my-1">
          <li><em>Maxine Waters on CNN Tonight: "We need to impeach"</em></li>
        </ul>
      </li>
      {#
      <li>

        <ul class="my-1">
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </li>
      #}
    </ul>

    <na-audio-toolbar-spacer></na-audio-toolbar-spacer>
  </div>
{% endblock %}
