{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">No Agenda Player</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Latest Show <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shows</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Donate</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="site-player">
  <div class="container">
    <div class="d-md-flex">
      <img src="http://adam.curry.com/enc/1526586469.563_na-1034-art-feed.jpg" class="shadow-sm">
      <div class="flex-grow-1 m-md-3 m-lg-5">
        <h1>1001: Victourios Gladious</h1>
        <h4>Adam Curry & John C. Dvorak</h4>
        <div class="btn-toolbar pt-2">
          <div class="btn btn-outline-light disabled">2h 53m</div>
        </div>
        <div class="btn-toolbar d-none d-lg-flex align-items-center justify-content-center pt-5">
          {# todo copy for mobile #}
          <div class="mx-2">
            <span class="fa-layers fa-fw fa-2x">
              <i class="fal fa-undo-alt"></i>
              <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-10 down-1">60</span>
            </span>
          </div>
          <div class="mx-2">
            <span class="fa-layers fa-fw fa-2x">
              <i class="fal fa-undo-alt"></i>
              <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-10 down-1">15</span>
            </span>
          </div>
          <div class="mx-5">
            <span class="fal fa-3x fa-play" aria-hidden="true"></span>
          </div>
          <div class="mx-2">
            <span class="fa-layers fa-fw fa-2x">
              <i class="fal fa-redo-alt"></i>
              <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-10 down-1">15</span>
            </span>
          </div>
          <div class="mx-2">
            <span class="fa-layers fa-fw fa-2x">
              <i class="fal fa-redo-alt"></i>
              <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-10 down-1">60</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="py-3">
        <div>00:00 / 2:53:12</div>
        <div class="bg-white mt-2 mb-2" style="height: 5px;"></div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="height: 100vh;">
  <div class="row">
    <div class="col-xl-8">
      <div class="pt-2" style="min-height: 100vh;">
        <div class="h4 p-1 border-bottom">Information</div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="site-chat position-sticky pt-2">
        <div class="h4 flex-shrink-0 p-1 border-bottom">Chat</div>
        <div class="site-chat-box flex-grow-1">
        </div>
        <div class="flex-shrink-0 p-3">
          <div class="btn-toolbar">
            <div class="btn btn-sm btn-dark">Live Replay</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
