{% extends 'layout.html.twig' %}

{% set page_title = 'Account' %}

{% set accountLinks = [
  {
    path: 'account_index',
    title: 'My account',
  },
  {
    path: 'account_password',
    title: 'Password',
  },
  {
    path: 'account_email',
    title: 'Email address',
  },
  {
    path: 'account_status',
    title: 'Account status',
  },
  {
    path: 'security_logout',
    title: 'Sign out',
  },
] %}

{% block content %}
<div class="container mt-md-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <ul class="nav nav-pills flex-column my-5">
        {% for link in accountLinks %}
          {% set active = link.path == app.request.attributes.get('_route') %}
          {% set classes = active ? 'nav-link active' : 'nav-link' %}
          <li class="nav-item">
            <a class="{{ classes }}" href="{{ path(link.path) }}">
              {{ link.title|raw }}
              {% if active %}<span class="sr-only">(current)</span>{% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-9">
      <h1>Account</h1>
      {% block account_content %}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
