{% extends 'layout.html.twig' %}

{% set page_title = 'Sign in' %}

{% block content %}
<div class="container my-md-5">
  {% include 'security/parts/notice.html.twig' %}

  <div class="row flex-md-row-reverse">
    <div class="col-md-6">
      {% include 'security/parts/login_form.html.twig' %}
    </div>

    <div class="col-md-6 border-right">
      {% include 'security/parts/registration_form.html.twig' %}
    </div>
  </div>

  {% include 'security/parts/rules.html.twig' %}
</div>
{% endblock %}
