{% extends 'layout.html.twig' %}

{% set page_title = 'Network' %}

{% block content %}
  <div class="container">
    <h2 class="my-3">Community Network</h2>
    <div class="row my-3">
      {% for site in network_sites %}
        {% include 'network/site.html.twig' %}
      {% endfor %}
    </div>

    <na-audio-toolbar-spacer></na-audio-toolbar-spacer>
  </div>
{% endblock %}
