<form class="mx-2 mx-lg-5" action="{{ path('security_forgot_password') }}" method="post">
  <div class="text-center my-5">
    <h1 class="h3 mb-3 font-weight-normal">Forgot password</h1>
    <p style="height: 50px;">Don't be a slave. Get back to producing!</p>
  </div>

  {% include 'blocks/alerts.html.twig' with {alerts: forgotPasswordMessages} %}

  <div class="form-group">
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" name="_username" class="form-control form-control-lg" placeholder="Username" {% if lastUsername %}value="{{ lastUsername }}"{% endif %} required autofocus>
  </div>

  <input type="hidden" name="_token" value="{{ csrf_token('forgot-password') }}"/>

  <div class="btn-toolbar justify-content-center mb-2">
    <button class="btn btn-lg btn-primary" type="submit">Send email</button>
  </div>
</form>
