<div class="card bg-info mb-3">
  <div class="card-body">
    Please note that a No Agenda website account is only used for identifying
    your contributions on this website. It does not grant access to other No Agenda-related
    websites like <a href="https://noagendasocial.com/">No Agenda Social</a> or the <a href="https://noagendaartgenerator.com/">Art Generator</a>.
  </div>
</div>
