<form class="mx-2 mx-lg-5" action="{{ path('security_reset_password', {token: resetPasswordToken}) }}" method="post">
  <div class="text-center my-5">
    <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
    <p style="height: 50px;">Don't be a slave. Get back to producing!</p>
  </div>

  {% include 'blocks/alerts.html.twig' with {alerts: resetPasswordMessages} %}

  <div class="form-group">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="text" id="inputPassword" name="_password" class="form-control form-control-lg" placeholder="Password" required autofocus>
  </div>

  <div class="form-group">
    <label for="inputPasswordConfirmation" class="sr-only">Password confirmation</label>
    <input type="text" id="inputPasswordConfirmation" name="_password_confirmation" class="form-control form-control-lg" placeholder="Password" required>
  </div>

  <input type="hidden" name="_csrf_token" value="{{ csrf_token('reset_password') }}"/>

  <div class="btn-toolbar justify-content-center mb-2">
    <button class="btn btn-lg btn-primary" type="submit">Reset password</button>
  </div>
</form>
