<div class="card my-5">
  <div class="card-body">
    <h5>Rules</h5>
    <ul class="list-unstyled mb-0">
      {#<li>#}
        {#Usernames that are offensive or attempts to impersonate other users from the No Agenda community are not allowed.#}
        {#At any time we may ask you to change your username to uphold our community standards.#}
      {#</li>#}
      {#<li>#}
        {#Offensive or illegal content can be removed without notice. Users that repeatedly participate in inappropriate#}
        {#behavior will have their account disabled and won't be able to add new content to the website.#}
      {#</li>#}
      <li>Please stay civil and say nice things.</li>
    </ul>
  </div>
</div>
