{% extends 'base.html.twig' %}

{% import 'call2action.html.twig' as call2action %}

{% set page_title = 'No Agenda Stream' %}
{% set page_description = 'Listen to the No Agenda Stream' %}

{% block content %}
  <section class="section intro intro-accent">
    <div class="section-content">
      <h1>No Agenda Stream</h1>
      <p>The stream that's all talk, no commercials. No Agenda.</p>
    </div>
    <div class="section-buttons-full">
      <a href="{{ trollroom_url }}" class="btn btn">Listen Now</a>
    </div>
  </section>

  <div class="section-gutter"></div>

  <section class="section section-narrow">
    <div class="section-content">
      <h2>Live 24/7</h2>
      <p>
        The No Agenda Stream is an online audio broadcast that's live 24 hours a day, 7 days a week, filled with quality
        podcasts curated for listeners of our show.
      </p>
    </div>
    <div class="section-buttons">
      <a href="https://playlist.noagendastream.com" class="btn btn-accent">Stream Playlist</a>
      <a href="https://listen.noagendastream.com" class="btn btn-accent">Direct Link</a>
    </div>
  </section>

  <section class="section section-narrow">
    <div class="section-content">
      <h2>Troll Room</h2>
      <p>
        The Troll Room is an <a href="https://en.wikipedia.org/wiki/IRC">IRC</a>-based chat room. It's free to use
        for anyonebut you need to register your nickname before you can send messages. Join us from
        <a href="{{ trollroom_url }}">trollroom.io</a>
        or with your favorite IRC application at <em>#NoAgenda</em> on <em>irc.zeronode.net</em>.
      </p>
    </div>
    <div class="section-buttons">
      <a href="{{ trollroom_url }}" class="btn">trollroom.io</a>
      <a href="{{ path('about_trollroom') }}" class="btn btn-accent">How to become a troll</a>
    </div>
  </section>
{% endblock %}

{% block footer %}
  {% include 'footer.html.twig' %}
{% endblock %}
