{% extends 'base.html.twig' %}

{% set page_title = 'Offline' %}

{% block content %}
  <section class="section section-narrow">
    <div class="section-content">
      <h1>Oops, you're not connected</h1>
      <p>We were unable to serve your request, most likely because you're not connected to the internet.</p>
      <p>
        If you're connected to the internet but still see this message, let our resident Dudes Named Ben know:
        <a href="{{ codedmonkey_url }}">Coded Monkey</a>, <a href="{{ voidzero_url }}">voidzero</a>.
        You can also listen to No Agenda from <a href="https://www.podfriend.com/podcast/no-agenda/">Podfriend</a>.
      </p>
      <p>

      </p>
    </div>
  </section>
{% endblock %}
