{% extends 'layout.html.twig' %}

{% set page_description = 'The unofficial #1 source for all things No Agenda, a twice weekly podcast about politics by Adam Curry & John C. Dvorak.' %}

{% block content %}
<div class="container">
  <p class="my-3">
    {{ page_description }}
  </p>

  <div class="my-3">
    <div class="row">
      <div class="col-md md-separator">
        <a href="{{ path('podcast') }}">
          <div class="d-flex justify-content-between">
            <div class="my-2">
              <div class="h3 mb-0">Subscribe to the podcast</div>
              <span>New episodes every thursday and sunday</span>
            </div>
            <div class="d-flex align-items-center">
              <span class="fas fa-podcast fa-3x fa-fw ml-2 text-itunes" aria-hidden="true"></span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md">
        <a href="http://www.dvorak.org/blog/no-agenda-mailing-list-signup-here/" target="_blank">
          <div class="d-flex justify-content-between">
            <div class="my-2">
              <div class="h3 mb-0">Subscribe to the newsletter</div>
              <span>No Agenda in your mailbox</span>
            </div>
            <div class="d-flex align-items-center">
              <span class="fas fa-envelope fa-3x fa-fw ml-2" aria-hidden="true" style="color: #dadada;"></span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <h2 class="my-3">Latest episodes</h2>
  <div class="row no-gutters my-3">
    {% for episode in latest_episodes %}
    <div class="col-sm-6 col-lg-3">
      {% include 'archive/parts/item.html.twig' %}
    </div>
    {% endfor %}
  </div>
  <div class="d-flex justify-content-end">
    <a class="btn btn-link" href="{{ path('archive') }}">View the full archive <span class="far fa-angle-right ml-1" aria-hidden="true"></span></a>
  </div>

  <div class="my-3">
    <div class="row">
      <div class="col-md md-separator">
        <a href="https://noagendasocial.com/web/accounts/1">
          <div class="d-flex justify-content-between">
            <div class="my-2">
              <div class="h3 mb-0">Follow Adam Curry on NA Social</div>
              <span>@adam@noagendasocial.com</span>
            </div>
            <div class="d-flex align-items-center">
              <span class="fab fa-mastodon fa-3x fa-fw ml-2 text-mastodon" aria-hidden="true"></span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md">
        <a href="https://twitter.com/THErealDVORAK">
          <div class="d-flex justify-content-between">
            <div class="my-2">
              <div class="h3 mb-0">Follow John C. Dvorak on Twitter</div>
              <span>@THErealDVORAK</span>
            </div>
            <div class="d-flex align-items-center">
              <span class="fab fa-twitter fa-3x fa-fw ml-2 text-twitter" aria-hidden="true"></span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <h2 class="my-3">Network</h2>
  <div class="row my-3">
    {% for site in network_sites %}
    {% include 'network/site.html.twig' %}
    {% endfor %}
  </div>
  <div class="d-flex justify-content-end">
    <a class="btn btn-link" href="{{ path('network') }}">View the entire network <span class="far fa-angle-right ml-1" aria-hidden="true"></span></a>
  </div>

  <div class="text-right my-3">
    Built with ☕ by <a href="https://noagendasocial.com/@woodstock" target="_blank">@woodstock@noagendasocial.com</a>.
    Not affiliated with the best podcast in the 🌌.
  </div>
</div>
{% endblock %}
