{% extends 'layout.html.twig' %}

{% set page_title = 'No Agenda Show Mission Statement' %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <div class="my-3">
          <h2 class="mb-3">Mission Statement</h2>

          <p>
            <em>No Agenda</em> is a podcasting LLC whose goal is to deconstruct the news media to reveal slanted stories and
            the reasoning for slanted or misleading reporting. The purpose is not to critique or discredit news reports but,
            through media deconstruction, to find the actual underlying story to give the audience a realistic understanding
            of current affairs and events and provide a normalized, objective understanding of them.
          </p>

          <p>
            <em>No Agenda</em> has no political motivations and does no original reporting but does do original research on
            stories as needed. On occasion, the show will read and disseminate what it calls “boots on the ground”
            reporting, which replaces “letters to the editor” and is used as background information. In some cases,
            outsiders will be contacted to clarify a fact to improve analysis. These “boots on the ground” reports are
            provided by the audience of producers who voluntarily contribute these messages to the show.
          </p>

          <p>
            In the process of deconstruction, deep research into a topic will often be done using publicly-available but
            often obscure media reports. <em>No Agenda</em> also digs into the backgrounds of individuals and
            non-governmental organizations. The show will often use elements of humor, which may include ridicule, to
            manage a three-hour, twice weekly audience engagement.
          </p>

          <p>
            <a href="{{ path('player', {episode: 1}) }}">The first <em>No Agenda Show</em></a> was aired via the Internet
            on Oct. 26, 2007. Its sole support comes from direct donations from the audience, composed of individuals
            called “producers”, as they are responsible for the show’s production and credited as such.
          </p>

          <p>
            To protect the viability of <em>No Agenda LLC</em> and shield it from political attack or vandalism, the show
            established its own distribution network and avoids third-party entanglements to negate or minimize the
            potential for show discontinuance or political “take-downs.”
          </p>

          <p>
            <em>No Agenda</em> has adopted an open-source approach to its content and trademarked name allowing third
            parties to leverage the show to produce related-products such as branded t-shirts and mugs. This also means that
            anyone can post the final produced show on their own site(s).
          </p>

          <h3 class="h4 mb-3">Finances</h3>

          <p>
            To maintain objectivity and continue the mission as stated above, the show cannot take any corporate, government
            (foreign or domestic) or foundation underwriting or advertising. The show relies on the direct support of the
            producers and consumers of the show using a value-for-value model. All donors over $50 are credited by name on
            the show itself to maintain transparency.
          </p>

          <div class="my-5">
            <a class="btn btn-danger" href="http://dvorak.org/na">Donate Now to Support our Mission</a>
          </div>
        </div>
      </div>
    </div>

    <na-audio-toolbar-spacer></na-audio-toolbar-spacer>
  </div>
{% endblock %}
