{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
  <div class="my-3">
    <h2 class="mb-3">Subscribe to No Agenda</h2>

    <p>
      No Agenda can be found in podcast directories across the internet. You'll likely find it just by searching for it
      in your favorite podcasting app. Here are some examples:
    </p>

    <div class="my-2">
      <a href="https://podcasts.apple.com/us/podcast/no-agenda/id269169796">
        <div class="d-flex">
          <div class="mr-3">
            <span class="fab fa-itunes fa-3x fa-fw text-itunes" aria-hidden="true"></span>
          </div>
          <div class="d-flex align-items-center">
            <div class="h3 mb-0">Apple Podcasts</div>
          </div>
        </div>
      </a>
    </div>

    <div class="my-2">
      <a href="https://podcasts.google.com/?feed=aHR0cHM6Ly9mZWVkLm5hc2hvd25vdGVzLmNvbS9yc3MueG1s">
        <div class="d-flex">
          <div class="mr-3">
            <span class="fab fa-google-play fa-3x fa-fw" aria-hidden="true" style="color: #1a73e8;"></span>
          </div>
          <div class="d-flex align-items-center">
            <div class="h3 mb-0">Google Podcasts</div>
          </div>
        </div>
      </a>
    </div>

    <hr>

    <p>
      You can also manually add the No Agenda feed to a podcasting app with the following link:
    </p>

    <div class="d-flex my-2">
      <pre class="border rounded flex-grow-1 p-2 m-0"><code><a href="http://feed.nashownotes.com/rss.xml">http://feed.nashownotes.com/rss.xml</a></code></pre>
      <div data-clipboard="http://feed.nashownotes.com/rss.xml" data-simple="true">
        <div class="btn btn-secondary ml-3">Copy to clipboard</div>
      </div>
    </div>
  </div>

  <na-audio-toolbar-spacer></na-audio-toolbar-spacer>
</div>
{% endblock %}
