{% extends 'layout.html.twig' %}

{% set page_title = 'Subscribe to the No Agenda Show' %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8">
      <div class="my-3">
        <h2 class="mb-3">Subscribe to The No Agenda Show</h2>

        <p>
          No Agenda can be found in podcast directories across the internet. You'll likely find it just by searching for it
          in your favorite podcasting app. Here are some examples:
        </p>

        <div class="my-2">
          <a href="https://podcasts.apple.com/us/podcast/no-agenda/id269169796">
            <div class="d-flex">
              <div class="mr-3">
                <span class="fab fa-apple fa-3x fa-fw text-itunes" aria-hidden="true"></span>
              </div>
              <div class="d-flex align-items-center">
                <div class="h3 mb-0">Apple Podcasts</div>
              </div>
            </div>
          </a>
        </div>

        <div class="my-2">
          <a href="https://podcasts.google.com/?feed=aHR0cHM6Ly9mZWVkLm5hc2hvd25vdGVzLmNvbS9yc3MueG1s">
            <div class="d-flex">
              <div class="mr-3">
                <span class="fab fa-google-play fa-3x fa-fw" aria-hidden="true" style="color: #1a73e8;"></span>
              </div>
              <div class="d-flex align-items-center">
                <div class="h3 mb-0">Google Podcasts</div>
              </div>
            </div>
          </a>
        </div>

        <h3 class="h4 mt-4 mb-3">Podcasting 2.0</h3>

        <p>
          Adam, together with Dave Jones, created the Podcast Index to preserve the feed-based podcasting ecosystem. Try
          a new podcast app today and see the difference Podcasting 2.0 makes.
        </p>

        <div class="my-2">
          <a href="https://podcastindex.org">
            <div class="d-flex">
              <div class="mr-3">
                <span class="fas fa-broadcast-tower fa-3x fa-fw" aria-hidden="true"></span>
              </div>
              <div class="d-flex align-items-center">
                <div class="h3 mb-0">PodcastIndex</div>
              </div>
            </div>
          </a>
        </div>

        <div class="my-2">
          <a href="https://podcastindex.org/apps">
            <div class="d-flex">
              <div class="mr-3">
                <span class="fas fa-podcast fa-3x fa-fw" aria-hidden="true"></span>
              </div>
              <div class="d-flex align-items-center">
                <div class="h3 mb-0">New Podcast Apps</div>
              </div>
            </div>
          </a>
        </div>

        <h3 class="h4 mt-4 mb-3">Podcast Feed</h3>

        <p>
          You can also manually add the No Agenda feed to a podcasting app with the following link:
        </p>

        <div class="d-flex my-2">
          <pre class="border rounded flex-grow-1 p-2 m-0"><code><a href="http://feed.nashownotes.com/rss.xml">http://feed.nashownotes.com/rss.xml</a></code></pre>
          <div>
            <div class="btn btn-primary ml-3" data-clipboard-text="http://feed.nashownotes.com/rss.xml">Copy to clipboard</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <na-audio-toolbar-spacer></na-audio-toolbar-spacer>
</div>
{% endblock %}
