{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}Credits Archive{% endblock %}

{% block main %}
  <div class="m-3">
    {% for code, shownote in shownotes %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><a href="http://{{ code }}.noagendanotes.com">Episode {{ code }}</a></h3>
        </div>
        <div class="panel-body">
          {% if shownote %}
            {% for credit_title, credits in shownote %}
              <p>{{ credit_title }}: {{ credits is iterable ? credits|join(', ')|raw : credits|raw }}</p>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
