{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Transcript - {{ episode }}{% endblock %}

{% set episode_url = ea_url()
  .setController('App\\Controller\\Admin\\EpisodeCrudController')
  .setAction('detail')
  .setEntityId(episode.id)
  .generateUrl()
%}

{% block main %}
  <div class="h4 mb-4">
    <a href="{{ episode_url }}">< {{ episode }}</a>
  </div>

  <div class="card bg-light mb-4">
    <div class="card-body">
      <pre><code>{{ contents }}</code></pre>
    </div>
  </div>
{% endblock %}
