<div id="clipboardModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Link</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <pre class="border rounded flex-grow-1 p-2 m-0"><code><span data-clipboard-text></span></code></pre>
      </div>
    </div>
  </div>
</div>
