[client]
default_character_set=utf8mb4

[mysql]
default_character_set=utf8mb4

[mysqld]
bind_address=0.0.0.0
character_set_server=utf8mb4
collation_server=utf8mb4_unicode_ci
init_connect='SET NAMES utf8mb4'
