@import "~bootstrap/scss/bootstrap";

.navbar {
  z-index: 1000;
}

.site-player {
  color: $white;
  background: $gray-700;

  img {
    height: 330px - ($grid-gutter-width / 2);
    width: 330px - ($grid-gutter-width / 2);
    margin: ($grid-gutter-width / 2) 0;
  }

  .player-toolbar {
    > div {
      line-height: 3em;
    }

    svg {
      line-height: 3em;
    }
  }
}

.site-transcript-highlight {
  background-color: #ebc944aa;
}

.cursor-pointer { cursor: pointer; }

.oy-scroll { overflow-y: scroll; }

.top-0 { top: 0; }

.vh-100 { height: 100vh; }
.mvh-100 { max-height: 100vh; }
