@import "stylesheets/bootstrap";
@import "stylesheets/fontawesome";

@import "stylesheets/archive";
@import "stylesheets/masthead-player";
@import "stylesheets/interactive-player";

@import url('https://fonts.googleapis.com/css?family=Mukta');

.navbar {
  z-index: 1000;
}

.bg-gray { background: #c5c5c5; }

.cursor-pointer { cursor: pointer; }

.ox-hidden { overflow-x: hidden; }
.oy-scroll { overflow-y: scroll; }

.text-sm { font-size: .95rem; }

.text-facebook { color: #0d6aad; }
.text-itunes { color: #b150e2; }
.text-mastodon { color: rgb(40, 44, 55); }
.text-twitter { color: #00a7d0; }

.top-0 { top: 0; }

.min-vh-100 { min-height: 100vh; }
.max-vh-100 { max-height: 100vh; }

.no-select { user-select: none; -moz-user-select: none; }

details {
  summary {
    border: 1px solid $secondary;
    padding: map_get($spacers, 2) $spacer,
  }
}

.position-sticky.position-sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
}

.bottom-holder {
  background: $tertiary;
  color: $white;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;

  a {
    color: $white;
  }
}

.loading-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  overflow: hidden;
  z-index: 2000;

  span {
    display: block;
    height: 100%;
  }

  .progress {
    background-color: $highlight;
    box-shadow: $box-shadow-sm;
    -webkit-animation: progressBar 3s ease-in-out;
    -webkit-animation-fill-mode:both;
    -moz-animation: progressBar 3s ease-in-out;
    -moz-animation-fill-mode:both;
  }
}

@-webkit-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@-moz-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@include media-breakpoint-up(md) {
  .md-separator {
    border-right: 1px solid #dee2e6;
  }
}
