@import "variables";

.emphasis {
  font-style: italic;
}

.sr-text {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.hide {
  display: none !important;
}

.rounded {
  border-radius: $border-radius;
}

.fullwidth {
  width: 100vw;
}

.w-100 {
  width: 100%;
}

.light-only {
  display: block;
}

.dark-only {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .light-only {
    display: none;
  }

  .dark-only {
    display: block;
  }
}
