.site-interactive-player {

}

.site-chat-messages {
  .site-chat-message {
    padding: .125rem 0;

    .message-timestamp {
      min-width: 50px;
      font-size: .8rem;

      @include media-breakpoint-up(md) {
        min-width: 70px;
        font-size: 1rem;
      }
    }
  }
}

.site-episode-chapters {
  .chapter-actions {
    min-width: 50px;

    @include media-breakpoint-up(md) {
      min-width: 70px;
    }
  }

  .chapter-highlight {
    background: #f2f2f2;
  }

  .text-sm {
    font-size: .8rem;

    @include media-breakpoint-up(md) {
      font-size: .95rem;
    }
  }
}

.site-transcript-lines {
  .transcript-action {
    width: 55px;

    @include media-breakpoint-up(md) {
      width: 115px;
    }

    .transcript-text {
      display: block;
      padding-top: 5px;
      padding-right: 3px;
      font-size: .8rem;

      @include media-breakpoint-up(md) {
        display: inline;
        padding-top: 0;
        padding-right: 0;
        font-size: 1rem;
      }
    }

    .transcript-focus {
      display: none;
    }
  }

  .site-transcript-line {
    &:hover {
      .transcript-focus {
        display: inline-block;
      }
    }
  }

  .transcript-highlight {
    background: #f2f2f2;
  }
}

.content-column {
  min-height: 100vh;
  padding-bottom: 50px;
}

.chat-column {
  min-height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
}
