Hi {{ user.username }},

<p>You're receiving this email because you have requested to reset your password on the No Agenda Experience website.</p>

<p>Click the following link to reset your password:</p>

<a href="{{ activation_url }}">{{ activation_url }}</a>

{% if remote_address %}<p>The request to reset your password was originated from {{ remote_address }}.</p>{% endif %}

<p>Note that password reset link is only valid for 1 hour.</p>
