{% extends 'base.html.twig' %}

{% import 'podcast/episode/chapters/macro.html.twig' as chapters %}

{% set page_title = 'Edit Chapter' %}

{% block content %}
  <nav class="link-group link-group-full">
    <a href="{{ path('podcast_episode_chapters', {code: episode.code}) }}" class="link">
      <span>Back to Episode</span>
      <span class="fa-solid fa-headphones fa-fw" aria-hidden="true"></span>
    </a>
  </nav>

  <section class="section">
    <div class="section-content">
      <h1>Edit Chapter</h1>

      {{ chapters.form(form, 'Save') }}
    </div>
  </section>
{% endblock %}
