{% extends 'base.html.twig' %}

{% import 'podcast/episode/chapters/macro.html.twig' as chapters %}

{% set page_title = 'Suggest New Chapter' %}

{% block content %}
  <nav class="link-group link-group-full">
    <a href="{{ path('podcast_episode_chapters', {code: episode.code}) }}" class="link">
      <span>Back to Episode</span>
      <span class="fa-solid fa-headphones fa-fw" aria-hidden="true"></span>
    </a>
  </nav>

  <div class="section-wide-row">
    <section class="section">
      <div class="section-content">
        <h1>Suggest New Chapter</h1>

        {{ chapters.form(form) }}
      </div>
    </section>
    {{ chapters.guidelines() }}
  </div>
{% endblock %}
