<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--
    {% block title '' %}
    No Agenda Experience
    -->

    {% set page_title = block('title') == '' ? 'No Agenda Experience' : block('title') ~ ' - No Agenda Experience' %}

    <title>{{ page_title }}</title>

    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/assets/app.css') }}">
    {% endblock %}
  </head>
  <body {% block body_attributes '' %}>
    {% block body '' %}

    {% block scripts %}
    <script src="{{ asset('/assets/app.js') }}"></script>
    {% include 'blocks/analytics.html.twig' %}
    {% endblock %}
  </body>
</html>
