{% macro alert(message) %}
  <div class="alert" data-controller="alert">
    <div class="alert-text">
      {{ message }}
    </div>
    <div class="alert-buttons js">
      <button type="button" class="btn btn-link" title="Close Message" data-action="alert#close">
        <span class="fa-solid fa-fw fa-times" aria-hidden="true"></span>
      </button>
    </div>
  </div>
{% endmacro %}
