<div id="chat_loading" class="text-center">
  <span class="fas fa-spinner fa-spin" aria-hidden="true"></span> Loading troll messages...
</div>

<div id="chat_container" class="d-none flex-column">
  <div class="flex-grow-1 oy-scroll">
    {% include 'player/blocks/chat_container.html.twig' %}
  </div>
</div>
