{# for chapters
<div class="btn-toolbar">
  <div class="btn btn-link mr-5"><span class="fas fa-play" aria-hidden="true"></span></div>

  <div class="btn btn-link disabled"><span class="fas fa-lightbulb" aria-hidden="true"></span></div>
  <div class="btn btn-link"><span class="fas fa-plus-circle text-success" aria-hidden="true"></span></div>
  <div class="btn btn-link"><span class="fas fa-exclamation-triangle text-danger" aria-hidden="true"></span></div>
</div>
#}

<h1>Chapters</h1>
