{% extends 'base.html.twig' %}

{% import 'podcast/macro.html.twig' as podcast %}

{% set page_description = 'The Best Podcast In The Universe' %}

{% block content %}
  <section class="section intro intro-accent">
    <div class="section-content">
      <h1>No Agenda Show</h1>
      <p>
        Twice weekly media deconstruction by Adam Curry and John C. Dvorak.
      </p>
    </div>
    <div class="section-buttons-full">
      <a href="{{ path('about_podcast') }}" class="btn btn-accent-2">About the Formula</a>
    </div>
  </section>

  <div class="section-gutter"></div>

  <section class="section">
    <div id="archive" class="section-content">
      <h2>Archive</h2>
    </div>
  </section>

  {{ podcast.archive(pager.currentPageResults, pager) }}

  <div class="section-gutter"></div>

  {{ podcast.promo() }}
{% endblock %}

{% block footer %}
  {% include 'footer.html.twig' %}
{% endblock %}
