{% extends 'layout.html.twig' %}

{% block content %}
  <div class="container">
    <div class="my-5">
      <h3>Oops, the page you requested could not be found.</h3>
      <p>
        If you think this is a mistake, feel free to contact our resident Dude Named Ben on
        <a href="https://noagendasocial.com/@woodstock" title="Woodstock on NA Social (Mastodon)">NA Social (@woodstock)</a>
        for help.
      </p>
      <p>
        <a href="/" class="btn-link">Go to the homepage</a>
      </p>
    </div>

    <na-audio-toolbar-spacer></na-audio-toolbar-spacer>
  </div>
{% endblock %}
