{% extends 'base.html.twig' %}

{% set page_title = 'Glitch - No Agenda Website' %}

{% block content %}
  <section class="section">
    <div class="section-content">
      <h2>Oops, we weren't able to load this page.</h2>
      <p>
        If you think this glitch is a mistake, feel free to contact our resident Dudes Named Ben for help:
        <a href="{{ codedmonkey_url }}">Coded Monkey</a>,
        <a href="{{ voidzero_url }}">voidzero</a>.
      </p>
    </div>
  </section>
{% endblock %}
