{% extends 'layout.html.twig' %}

{% block content %}
  <div class="container">
    <div class="my-5">
      <h3>Oops, we weren't able to load this page.</h3>
      <p>
        Information about your request was automatically logged for review if the problem was
        caused by a server issue.<br>
        If the problem persists, feel free to contact our resident Dude Named Ben on
        <a href="https://twitter.com/coded_monkey" title="coded_monkey on Twitter">Twitter (@coded_monkey)</a> or
        <a href="https://noagendasocial.com/@woodstock" title="Woodstock on NA Social (Mastodon)">NA Social (@woodstock)</a>
        for help.
      </p>
      <p>
        <a href="/" class="btn-link">Go to the homepage</a>
      </p>
    </div>

    <na-audio-toolbar-spacer></na-audio-toolbar-spacer>
  </div>
{% endblock %}
