{% extends 'base.html.twig' %}

{% set page_title = 'Glitch - No Agenda Website' %}

{% block content %}
  <section class="section">
    <div class="section-content">
      <h2>Oops, we weren't able to load this page.</h2>
      <p>
        Information about this glitch was automatically logged for review if the problem was caused by a server issue.<br>
        If the problem persists, feel free to contact our resident Dude Named Ben on No Agenda Social
        (<a href="https://noagendasocial.com/@woodstock">@woodstock@noagendasocial.com</a>) for help.
      </p>
    </div>
  </section>
{% endblock %}
