{% extends 'base.html.twig' %}

{% set page_title = 'Glitch - No Agenda Website' %}

{% block content %}
  <section class="section">
    <div class="section-content">
      <h2>Oops, the page you requested could not be found.</h2>
      <p>
        If you think this glitch is a mistake, feel free to contact our resident Dude Named Ben on No Agenda Social
        (<a href="https://noagendasocial.com/@woodstock">@woodstock@noagendasocial.com</a>) for help.
      </p>
    </div>
  </section>
{% endblock %}
