{% extends 'layout.html.twig' %}

{% set page_title = 'Manage Contributions' %}

{% block content %}
  <div class="container">
    <h1 class="my-3">Waiting for Review</h1>

    <div class="list-group list-group-flush my-3">
      {% for user in unreviewed_users %}
        <a class="list-group-item" href="{{ path('feedback_user', {user: user.id}) }}">
          {{ user.username }}
        </a>
      {% else %}
        <div class="list-group-item">
          <em>There are currently no users waiting for review.</em>
        </div>
      {% endfor %}
    </div>

    <h1 class="my-3">Open Contributions</h1>

    <div class="list-group list-group-flush my-3">
      {% for item in unresolved_items %}
        <div class="list-group-item">
          {% include 'feedback/parts/item.html.twig' with {referral: 'mod'} %}
        </div>
      {% else %}
        <div class="list-group-item">
          There are currently no new contributions.
        </div>
      {% endfor %}
    </div>

    <na-audio-toolbar-spacer></na-audio-toolbar-spacer>
  </div>
{% endblock %}
