{% extends 'base.html.twig' %}

{% import 'feedback/macro.html.twig' as feedback %}

{% set page_title = 'Manage Contributions - No Agenda Website' %}

{% block content %}
  <section class="section">
    <div class="section-content">
      <h1>Waiting for Review</h1>

      <ul>
        {% for user in unreviewed_users %}
          <li>
            <a href="{{ path('feedback_user', {user: user.id}) }}">{{ user.username }}</a>
          </li>
        {% else %}
          <li>
            <em>There are currently no users waiting for review.</em>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="section">
    <div class="section-content">
      <h1>Open Contributions</h1>

      <div class="chapters">
        {% for item in unresolved_items %}
          {{ feedback.chapter(item.entity, 'mod', true) }}
        {% else %}
          <div>
            There are currently no new contributions.
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
